<ion-view title="注册">
  <ion-content padding="true">
    <form name="zhuce">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">用户名</span>
          <input type="text" name="name" ng-model="user.name" placeholder="请输入用户名" required>
          <span class="error" ng-show="zhuce.name.$touched && zhuce.name.$invalid">
            <span ng-show="zhuce.name.$error.required">请输入用户名</span>
          </span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">手机</span>
          <input type="number" ng-model="user.tel" name="tel" placeholder="请输入手机号" ng-pattern="/^1(3|4|5|7|8)\d{9}$/" required>
          <span class="error" ng-show="zhuce.tel.$touched && zhuce.tel.$invalid">
            <span ng-show="zhuce.tel.$error.pattern">请输入正确的手机号码</span>
            <span ng-show="zhuce.tel.$error.required">请输入手机号</span>
          </span>
        </label>
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">邮箱</span>-->
          <!--<input type="email" ng-model="user.email" name="email" placeholder="john@suhr.com">-->
          <!--<span class="error" ng-show="zhuce.email.$touched && zhuce.email.$invalid">-->
            <!--<span ng-show="zhuce.email.$error.email">请输入正确的邮箱</span>-->
          <!--</span>-->
        <!--</label>-->
        <label class="item item-input item-stacked-label">
          <span class="input-label">密码</span>
          <input type="password" ng-model="user.pwd" name="pwd" placeholder="请输入密码" ng-minlength="6" required>
          <span class="error" ng-show="zhuce.pwd.$touched && zhuce.pwd.$invalid">
            <span ng-show="zhuce.pwd.$error.required">请输入密码</span>
            <span ng-show="zhuce.pwd.$error.minlength">请输入6位以上密码</span>
          </span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">重复密码</span>
          <input type="password" ng-model="user.pwd2" name="pwd2" placeholder="重复密码" ng-minlength="6" required>
          <span class="error" ng-show="zhuce.pwd2.$touched && zhuce.pwd2.$invalid">
            <span ng-show="zhuce.pwd2.$error.required">请再次输入密码</span>
            <span ng-show="zhuce.pwd2.$error.minlength">请输入6位以上密码</span>
          </span>
          <span class="error" ng-show="user.pwd != user.pwd2 && zhuce.pwd.$touched && zhuce.pwd2.$touched ">两次密码不相同</span>
        </label>
      </div>

      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="user.dx" name="dx" placeholder="短信验证码">
          </label>
          <button class="button button-small" ng-click="fsdx()">
            获取验证码
          </button>
        </div>
        <span class="error" ng-show="bool">验证码错误</span>
      </div>
        <button class="button-block button button-positive" ng-disabled="zhuce.name.$invalid || zhuce.name.$pristine ||
        zhuce.tel.$invalid || zhuce.tel.$pristine || zhuce.pwd.$invalid || user.pwd != user.pwd2 || zhuce.dx.$invalid" ng-click="enroll()">注册</button>
    </form>
  </ion-content>
</ion-view>
